@import "tailwindcss";

.tr {
  transition: all ease 0.3s;
}

.tr-slow {
  transition: all ease 0.9s;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Ittrecoleta Black";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-black.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Bold";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-bold.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cmp Black";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cmpblack.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cmp Bold";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cmpbold.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cmp ExtraLight";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cmpextralight.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cmp Light";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cmplight.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cmp Medium";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cmpmedium.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cmp Regular";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cmpregular.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cnd Black";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cndblack.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cnd Bold";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cndbold.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cnd ExtraLight";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cndextralight.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cnd Light";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cndlight.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cnd Medium";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cndmedium.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cnd Regular";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cndregular.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cnd SemiBold";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cndsemibold.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Cnd Thin";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-cndthin.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta ExtraLight";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-extralight.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Light";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-light.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Medium";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-medium.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta Regular";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-lttrecoleta-cndregular.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta SemiBold";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-semibold.otf")
    format("opentype");
}
@font-face {
  font-family: "Ittrecoleta-Thin";
  src: url("./assets/fonts/Ittrecoleta/Fontspring-DEMO-Ittrecoleta-thin.otf")
    format("opentype");
}
@font-face {
  font-family: "Afacad-Regular";
  src: url("./assets/fonts/afacad/Afacad-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Afacad-Bold";
  src: url("./assets/fonts/afacad/Afacad-Bold.ttf") format("opentype");
}
